.sf-value-block {
    /*border: 1px solid #ccc;*/
    display: inline-block;
    margin-left: 10px;
    flex: flex-grow;
    /*
    border-size:2px;
    border-style:solid;
    border-color:black;
    */
}

/* cf https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.sf-values-group{
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: left; /* space-evenly;*/
  align-content: /*space-around; */ flex-start;
}
.sf-values-group:before { display: block; }


.sf-property-label{}

.sf-separator{
    background:#F87431;
    border:0;
    height:4px;
}
.sf-error-message{
    color:red;
}
/*.sf-button-create{
    position: relative;
    top: 18px;
}*/
.sf-complete-form{
  /* padding-bottom: 70px; */
  padding-left: 10px;
}
.sf-space-form{
    /*margin-bottom: 10px;*/
}

.sf-button {height: 20px; vertical-align: middle; padding:0}
.sf-suggestion-search-dbpedia {
    background-image: url(../images/ripple.gif);
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: contain;
}
.sf-suggestion-search-sf {
    background-image: url(../images/ripple-sf.gif);
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: contain;
}
.sf-suggestion-search-common {
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: contain;
}

.sf-margin-top-5 {margin-top: 5px}
.sf-margin-top-10 {margin-top: 10px}
.sf-margin-top-15 {margin-top: 15px}
.sf-margin-top-20 {margin-top: 20px}

input.form-control[type='text']
      .form-value{ display: table-cell; width: 500px;
    border-collapse: separate;
    border-width: 10px; }

.sf-external-link {color: Darkred !important; background-color: lightyellow;}
.sf-internal-link { text-decoration: underline }
.sf-sparql-table td { padding:0px 10px; }
.sf-sparql-table tr:first-of-type { font-weight:bold; }

.sf-local-rdf-link { font-size: xx-small; }

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

.sf-data-not-fitting-user-language { display: none; }

.sf-userInfo { float: right; }

.sf-error { color: red; font-style: bold }
