.sf-value-block {
    /*border: 1px solid #ccc;*/
    display: inline-block;
    /*
    border-size:2px;
    border-style:solid;
    border-color:black;
    */
}

.sf-separator{
    background:#F87431;
    border:0;
    height:4px;
}
.sf-error-message{
    color:red;
}
/*.sf-button-create{
    position: relative;
    top: 18px;
}*/
.sf-complete-form{
    padding-bottom: 70px;
}
.sf-space-form{
    /*margin-bottom: 10px;*/
}
.sf-suggestion-search {
    background-image: url(../images/ripple.gif);
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: contain;
}

.sf-margin-top-5 {margin-top: 5px}
.sf-margin-top-10 {margin-top: 10px}
.sf-margin-top-15 {margin-top: 15px}
.sf-margin-top-20 {margin-top: 20px}

input.form-control[type='text']
      .form-value{ display: table-cell; width: 500px;
    border-collapse: separate;
    border-width: 10px; }
.sf-external-link {color: Darkred !important; background-color: lightyellow;}
.sf-internal-link{}
.sf-sparql-table td { padding:0px 10px; }
.sf-sparql-table tr:first-of-type { font-weight:bold; }

