@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <!-- 
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"
          type="text/javascript"></script>
        -->
        <style type="text/css"> th, td { resize: both; overflow: auto; } </style> 
    </head>
    <body>
      <form action="/display">
        @Messages("URI_to_display"): <input type="text" name='displayuri' list="start_uris" />
        <datalist id="start_uris" >
          <option> http://jmvanel.free.fr/jmv.rdf#me </option>
          <option> http://dbpedia.org/resource/Paris </option>
          <option> http://bblfish.net/people/henry/card#me </option>
        </datalist>
        <input type="submit" name="Display" value=@Messages("Display") />
        <input type="submit" name="Edit" value=@Messages("Edit") />
      </form>
      <form action="/wordsearch">
      @Messages("String_to_search"):
         <input  type="text" name='q' />
        <input type="submit" value=@Messages("Search") />
      </form>      
      <form action="/create">
      @Messages("Create_instance_of"):
        <input  type="text" name='uri' list="class_uris" />
        <datalist id="class_uris" >
          <option> http://xmlns.com/foaf/0.1/Person </option>
          <option> http://usefulinc.com/ns/doap#Project </option>
          <option> http://xmlns.com/foaf/0.1/Organization </option>
        </datalist>
        <!-- preDefinedClasses
          http://www.w3.org/2002/12/cal/ical#Vevent" // "cal:Vevent" 
         -->
        <input type="submit" value=@Messages("Create") />
      </form>
      @content
    </body>
</html>
